<%# scopeオプション(scope: q)により、要素のname = q[name] %になる。htmlで確認可 %>
<h1 class="font-weight-bold">ほんをけんさくする</h1>
<%= form_with(url: search_books_path, local: true, method: :get) do |f| %>

  <div class = "form-group" >
    <%= f.text_field :keyword, class:'form-control', value: @search_form.keyword, placeholder: 'タイトル・さくしゃ' %>
  </div>

  <div class="form-group">
    <%= f.submit "けんさく", class: 'btn btn-primary btn-block' %>
  </div>

<% end %>

<%# 部分テンプレート_books_searching.html.erbを読み込む。%>
<%# @books(検索結果群（インスタンス群）)の要素の数だけ部分テンプレートが繰り返される。each文不要。 %>
<%# @booksの各本は asオプションによりbookとして部分テンプレート内で使える。 %>
<%= render partial: "books_searching", collection: @books, as: :book %>