<section class="section mt-6">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-5">
        <%= render 'form', review: @review, book: @book %> <%# 評価と感想を表示 %>
      </div>
    </div>
  </div>
</section>