// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.rating-container {
  display: flex;
}

.star-rating {
  position: relative;
  font-size: 25px;
}

.star-rating-front {
  position: absolute;
  width: 5em; //500%
  height: 1.2em;
  top: 0;
  left: 0;
  overflow: hidden;
  color: #fc0;
}

.star-rating-back {
  color: #ccc;
}

.main-rating {
  display: flex;
}

.rating-box .ratings .fa {
  font-size: 30px;
  color: #fc0;
  cursor: pointer;
}

.rating-value-display {
  font-size: 20px;
}

.balloon {
  transform-origin: right top;
  animation: balloonAnime 3s ease-out 0s infinite normal both;
  position: relative;
  background-color: #fae3d9;
  padding: 10px;
  color: #333;
  margin: 15px;
}

@keyframes balloonAnime {
  0% { transform: scale(1); }
  10% { transform: scale(1.05); }
  20% { transform: scale(1); }
  30% { transform: scale(1.02); }
  40% { transform: scale(1); }
  100% { transform: scale(1); }
}
  
.balloon::before {
  content: "";
  position: absolute;
  border: 12px solid transparent;
  border-right: 12px solid #fae3d9;
  top: 20%;
  left: -24px;
  ;
}
  
.balloon p {
  margin: 0;
  padding: 0;
}